<div class="container" style="max-width: 10000px" id="clickable-hex-map-wrapper">
  <div class="row">
    <div class="col-sm-3">
      <button class="btn btn-primary btn-sm" (click)="saveHex()">Save</button>
      <button class="btn btn-secondary btn-sm" (click)="cancelHex()">Cancel</button>

      <select [(ngModel)]="selectedValue">
        <option *ngFor="let prop of terrainPropArray" [ngValue]="prop">{{prop.key}}</option>
      </select>
      <label>show Hex Types
        <input type="checkbox" [(ngModel)]="seeAny">
      </label>
      <br>
      <label >see only selected
        <input type="checkbox" [(ngModel)]="seeOnlySelected">
      </label>

    </div>

    <div class="col-sm-9">
      <div style="float:left;" *ngFor="let prop of terrainPropArray">
        <span [ngStyle]="{color: prop.color }">{{prop.disp }}</span> => {{ prop.key }},
      </div>
    </div>


  </div>
  <div style="clear:both"></div>

  <div id="map-wrapper"  (click)="clickMe($event)">

    <canvas [ngStyle]="{left: map.x +'px', top:map.y +'px'}" id="canvas-id" width="0" height="0"></canvas>
    <img id="map-image" (load)="mapLoaded()" *ngIf="map" [ngStyle]="{width:map.mapWidth ? map.mapWidth+'px': 'auto'}" src="{{map.mapUrl}}">
    <div style="pointer-events: none; position:relative;left:-9px;top:-11px;" class="terainWrapper">
      <div *ngFor="let ter of terrain" id="{{ter.name}}" [ngStyle]="{zIndex: 3, background:'white', position: 'absolute', left: ter.x, top:ter.y}">
      <span *ngFor="let type of ter.type" [ngStyle]="{fontSize: '13px', color:terrainProperty.mapper[type.name].color}">
        <span *ngIf="seeAny && (!seeOnlySelected || type.name == selectedValue.key)">{{terrainProperty.mapper[type.name].disp}}</span>
      </span>
      </div>
    </div>
  </div>

</div>
