a {
  color: cornflowerblue;
  &.edit-buttons{
    padding: 3px;
    display: inline-block;
    border: 3px solid cornflowerblue;
    color:  cornflowerblue;
    border-radius: 10px;
    margin:5px;
  }
}
